*{
   
}

body{
    background-image: url(../img/fundoplanet.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    margin: 0%;
}

a{
    color: aliceblue;
    
}

a:hover {
    color: blue;
}

img{
    width: 120px;
    position: relative;
    bottom: 20px;
    right: 30px;
    
}

header{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            justify-content: space-between;
            
}

.ancora a {
    position: relative;
    bottom: 35px;
    font-size: 35px;
    margin: 10px;
    
    

}

main{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 600px;
}

h1{
    color: azure;
    font-size: 80px;
    font-family: unset;
    position: relative;
    top: 60%;
    left: 40px;
    text-shadow: 3px 2px 5px blue;
}
 h1:hover {
    ;
 }

h2{
color: #acb5c2;
    font-size: 35px;
    font-family: unset;
    position: relative;
    top: 50%;
    left: 30px;
    text-shadow: 3px 2px 5px rgb(48, 13, 248);
}

