*{
   
}

body{
    background-image: url(../img/outerspace-6.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    margin: 0%;
}

header{
    height: 10px;    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    
}

.nav a {
    position: relative;
    top: 50px;
    left: 50px;
    font-size: 20px;
    margin: px;
    padding: 10px;
    text-decoration: none;   
}

nav a:hover {
    color: blue;
}



a{
    color: aliceblue;
    
}
.bi-playstation {
    font-size: 50px;
    position: relative;
    top: 10px;
    
}

a:hover {
    color: blue;
}

img{
    width: 120px;
    position: relative;
    top: 60px;
    right: 30px;
    
}

footer{
            height: 180px;    
            text-align: end;
            display: flex;
            align-items: center;
            justify-content: right;
            padding: 20px;
          
            
}

.ancora a {
    position: relative;
    top: 160px;
    font-size: 30px;
    margin: 8px;
    color: blue; 
}

.ancora a:hover{
    color: aliceblue;
}


main{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 600px;
}

h1{
    color: azure;
    font-size: 80px;
    font-family: unset;
    position: relative;
    top: 60%;
    left: 40px;
    text-shadow: 3px 2px 5px blue;
}
 h1:hover {
    ;
 }

h2{
color: #acb5c2;
    font-size: 35px;
    font-family: unset;
    position: relative;
    top: 50%;
    left: 30px;
    text-shadow: 3px 2px 5px rgb(48, 13, 248);
}

